.done{
  color:green;
  text-decoration: line-through;
}
.addBTN{
  width:4rem;
  margin-left:1rem;
  font-size:0.9rem;
  background-color: rgb(255, 187, 0);
}
.logo{
color: rgb(0, 255, 191)
}
.flex{
  display:grid;
  justify-items: center;
  grid-template:1fr;
  font-size: 3rem;
  background-color: rgb(208, 223, 6);
  height: 97vh;
}