.done{
  color:green;
  text-decoration: line-through;
}
.addBTN{
  width:4rem;
  margin-left:1rem;
  font-size:0.9rem;
  background-color: rgb(255, 187, 0);
}
.logo{
color: rgb(0, 255, 191)
}
.flex{
  display:flex;
  justify-content: center;
  font-size: 3rem;
}